In [1]:
from langchain_google_genai import GoogleGenerativeAI
import os
from dotenv import load_dotenv
load_dotenv()

c:\Users\Administrator\crm-venv310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

True

## Connect to Gemini llm

In [2]:
llm = GoogleGenerativeAI(model="gemini-pro", google_api_key=os.getenv("GOOGLE_API_KEY"))

In [3]:
llm("What is an AI assistant")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14428\3708976949.py:1: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use invoke instead.
  llm("What is an AI assistant")

'An AI assistant is a type of artificial intelligence (AI) software that can perform tasks or provide information to users. AI assistants are typically powered by machine learning and natural language processing (NLP) technologies, and they can be used for a wide range of tasks, including:\n\n* **Answering questions:** AI assistants can answer questions about a variety of topics, from the weather to the latest news.\n* **Providing information:** AI assistants can provide information on a variety of topics, such as the location of a restaurant or the definition of a word.\n* **Performing tasks:** AI assistants can perform tasks such as setting alarms, sending emails, and playing music.\n* **Helping with decision-making:** AI assistants can help users make decisions by providing information and recommendations.\n\nAI assistants are becoming increasingly popular as they become more sophisticated and capable. They are now used by millions of people around the world for a variety of tasks.\n\nHere are some examples of AI assistants:\n\n* **Siri** is an AI assistant that is built into Apple devices.\n* **Google Assistant** is an AI assistant that is built into Android devices.\n* **Alexa** is an AI assistant that is built into Amazon Echo devices.\n* **Cortana** is an AI assistant that is built into Windows 10 devices.\n* **ChatGPT** is an AI assistant that is developed by OpenAI.'

## Connect with database and ask some basic question

In [3]:

from langchain.utilities import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain_experimental.sql import SQLDatabaseChain

In [4]:
db_name=os.getenv("PG_DB")
user=os.getenv("PG_USERNAME")
password=os.getenv("PG_PASSWORD")
host=os.getenv("PG_HOST")
port=os.getenv("PG_PORT")

In [5]:
db = SQLDatabase.from_uri(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db_name}")

c:\Users\Administrator\crm-venv310\lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'vector' of column 'embedding'
  self._metadata.reflect(

In [6]:
print(db.table_info)

CREATE TABLE "AdTemplates" (
	id SERIAL NOT NULL,
	"merchantId" INTEGER,
	name VARCHAR(255),
	leads INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"productId" INTEGER,
	CONSTRAINT "AdTemplates_pkey" PRIMARY KEY (id),
	CONSTRAINT "AdTemplates_merchantId_fkey" FOREIGN KEY("merchantId") REFERENCES "Merchants" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT fk_product_id FOREIGN KEY("productId") REFERENCES "Products" (id)
)

/*
3 rows from AdTemplates table:
id	merchantId	name	leads	createdAt	updatedAt	productId

*/


CREATE TABLE "Ads" (
	id SERIAL NOT NULL,
	"merchantId" INTEGER,
	"templateId" INTEGER,
	read INTEGER,
	delivered INTEGER,
	sent INTEGER,
	failed INTEGER,
	response INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Ads_pkey" PRIMARY KEY (id),
	CONSTRAINT "Ads_merchantId_fkey" FOREIGN KEY("merchantId") REFERENCES "Merchants" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Ads_templateId_fkey" FOREIGN KEY("templateId") REFERENCES "AdTemplates" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Ads table:
id	merchantId	templateId	read	delivered	sent	failed	response	createdAt	updatedAt

*/


CREATE TABLE "Billboards" (
	id SERIAL NOT NULL,
	"storeId" INTEGER,
	label VARCHAR(255),
	"imageUrl" VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Billboards_pkey" PRIMARY KEY (id),
	CONSTRAINT "Billboards_storeId_fkey" FOREIGN KEY("storeId") REFERENCES "Stores" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Billboards table:
id	storeId	label	imageUrl	createdAt	updatedAt
20	10	My Fake Store	https://res.cloudinary.com/dzeeuz5g6/image/upload/v1702201840/qa9iszb4ebczgxffka5n.jpg	2024-08-31 15:39:11.243000+03:00	2024-08-31 15:39:11.243000+03:00
*/


CREATE TABLE "BotVectorStores" (
	id SERIAL NOT NULL,
	original TEXT,
	vector BYTEA,
	"merchantId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "BotVectorStores_pkey" PRIMARY KEY (id),
	CONSTRAINT "BotVectorStores_merchantId_fkey" FOREIGN KEY("merchantId") REFERENCES "Merchants" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from BotVectorStores table:
id	original	vector	merchantId	createdAt	updatedAt

*/


CREATE TABLE "Brands" (
	id SERIAL NOT NULL,
	name VARCHAR(255),
	"joinDate" TIMESTAMP WITH TIME ZONE,
	description TEXT,
	"phoneNumber" VARCHAR(255),
	industry VARCHAR(255),
	loc_name VARCHAR(255),
	loc_address VARCHAR(255),
	loc_latitude VARCHAR(255),
	loc_longitude VARCHAR(255),
	loc_url VARCHAR(255),
	"storeId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	email VARCHAR(255),
	CONSTRAINT "Brands_pkey" PRIMARY KEY (id),
	CONSTRAINT "Brands_storeId_fkey" FOREIGN KEY("storeId") REFERENCES "Stores" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Brands table:
id	name	joinDate	description	phoneNumber	industry	loc_name	loc_address	loc_latitude	loc_longitude	loc_url	storeId	createdAt	updatedAt	email
57	Natural Balance	2024-08-31 15:39:11.271000+03:00	None	254707737397	None	None	None	None	None	None	10	2024-08-31 15:39:11.271000+03:00	2024-08-31 15:39:11.271000+03:00	ashukuezra@gmail.com
58	TUMS	2024-08-31 15:39:11.271000+03:00	None	254707737397	None	None	None	None	None	None	10	2024-08-31 15:39:11.271000+03:00	2024-08-31 15:39:11.271000+03:00	ashukuezra@gmail.com
59	DreamLine	2024-08-31 15:39:11.271000+03:00	None	254707737397	None	None	None	None	None	None	10	2024-08-31 15:39:11.271000+03:00	2024-08-31 15:39:11.271000+03:00	ashukuezra@gmail.com
*/


CREATE TABLE "BulkTemplateTasks" (
	id SERIAL NOT NULL,
	"scheduleTaskId" INTEGER,
	message TEXT,
	template TEXT,
	customers TEXT,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "BulkTemplateTasks_pkey" PRIMARY KEY (id),
	CONSTRAINT "BulkTemplateTasks_scheduleTaskId_fkey" FOREIGN KEY("scheduleTaskId") REFERENCES "ScheduleTasks" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from BulkTemplateTasks table:
id	scheduleTaskId	message	template	customers	createdAt	updatedAt

*/


CREATE TABLE "ButtonRepliedActions" (
	id SERIAL NOT NULL,
	"interactiveButtonId" INTEGER,
	"messageId" INTEGER,
	"buttonId" VARCHAR(255),
	title VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ButtonRepliedActions_pkey" PRIMARY KEY (id),
	CONSTRAINT "ButtonRepliedActions_interactiveButtonId_fkey" FOREIGN KEY("interactiveButtonId") REFERENCES "InteractiveButtons" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "ButtonRepliedActions_messageId_fkey" FOREIGN KEY("messageId") REFERENCES "Messages" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ButtonRepliedActions table:
id	interactiveButtonId	messageId	buttonId	title	createdAt	updatedAt

*/


CREATE TABLE "ButtonReplyActions" (
	id SERIAL NOT NULL,
	"interactiveButtonId" INTEGER,
	"buttonId" VARCHAR(255),
	title VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ButtonReplyActions_pkey" PRIMARY KEY (id),
	CONSTRAINT "ButtonReplyActions_interactiveButtonId_fkey" FOREIGN KEY("interactiveButtonId") REFERENCES "InteractiveButtons" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ButtonReplyActions table:
id	interactiveButtonId	buttonId	title	createdAt	updatedAt

*/


CREATE TABLE "Categories" (
	id SERIAL NOT NULL,
	"storeId" INTEGER,
	"billboardId" INTEGER,
	name VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Categories_pkey" PRIMARY KEY (id),
	CONSTRAINT "Categories_billboardId_fkey" FOREIGN KEY("billboardId") REFERENCES "Billboards" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Categories_storeId_fkey" FOREIGN KEY("storeId") REFERENCES "Stores" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Categories table:
id	storeId	billboardId	name	createdAt	updatedAt
57	10	20	Jewelry	2024-08-31 15:39:11.454000+03:00	2024-08-31 15:39:11.454000+03:00
58	10	20	Premium Beauty	2024-08-31 15:39:11.454000+03:00	2024-08-31 15:39:11.454000+03:00
59	10	20	Sports & Outdoors	2024-08-31 15:39:11.454000+03:00	2024-08-31 15:39:11.454000+03:00
*/


CREATE TABLE "Chats" (
	id SERIAL NOT NULL,
	"merchantId" INTEGER,
	"customerId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Chats_pkey" PRIMARY KEY (id),
	CONSTRAINT "Chats_customerId_fkey" FOREIGN KEY("customerId") REFERENCES "Customers" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Chats_merchantId_fkey" FOREIGN KEY("merchantId") REFERENCES "Merchants" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Chats table:
id	merchantId	customerId	createdAt	updatedAt

*/


CREATE TABLE "Conversations" (
	id SERIAL NOT NULL,
	"chatId" INTEGER,
	"pricingModel" VARCHAR(255),
	"conversationId" VARCHAR(255),
	category VARCHAR(255),
	"expiryDate" TIMESTAMP WITH TIME ZONE,
	status VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Conversations_pkey" PRIMARY KEY (id),
	CONSTRAINT "Conversations_chatId_fkey" FOREIGN KEY("chatId") REFERENCES "Chats" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Conversations table:
id	chatId	pricingModel	conversationId	category	expiryDate	status	createdAt	updatedAt

*/


CREATE TABLE "Coupons" (
	id SERIAL NOT NULL,
	code VARCHAR(255),
	"promotionId" INTEGER,
	"validFrom" TIMESTAMP WITH TIME ZONE,
	"validTo" TIMESTAMP WITH TIME ZONE,
	discount NUMERIC,
	active BOOLEAN,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Coupons_pkey" PRIMARY KEY (id),
	CONSTRAINT "Coupons_promotionId_fkey" FOREIGN KEY("promotionId") REFERENCES "Promotions" (id) ON DELETE SET NULL ON UPDATE CASCADE
)

/*
3 rows from Coupons table:
id	code	promotionId	validFrom	validTo	discount	active	createdAt	updatedAt

*/


CREATE TABLE "Customers" (
	id SERIAL NOT NULL,
	whatsapp_name VARCHAR(255),
	phone_number VARCHAR(255),
	first_name VARCHAR(255),
	last_name VARCHAR(255),
	"merchantId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	age INTEGER,
	gender "enum_Customers_gender",
	income "enum_Customers_income",
	occupation "enum_Customers_occupation",
	"joinDate" TIMESTAMP WITH TIME ZONE,
	"lastPromoted" TIMESTAMP WITH TIME ZONE,
	status "enum_Customers_status",
	loc_address VARCHAR(255),
	zipcode VARCHAR(255),
	loc_latitude VARCHAR(255),
	loc_name VARCHAR(255),
	loc_longitude VARCHAR(255),
	loc_url VARCHAR(255),
	"customerSegment" "enum_Customers_customerSegment",
	CONSTRAINT "Customers_pkey" PRIMARY KEY (id),
	CONSTRAINT "Customers_merchantId_fkey" FOREIGN KEY("merchantId") REFERENCES "Merchants" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Customers_phone_number_key" UNIQUE (phone_number)
)

/*
3 rows from Customers table:
id	whatsapp_name	phone_number	first_name	last_name	merchantId	createdAt	updatedAt	age	gender	income	occupation	joinDate	lastPromoted	status	loc_address	zipcode	loc_latitude	loc_name	loc_longitude	loc_url	customerSegment
13089	None	None	None	None	1	2024-08-31 15:39:11.913000+03:00	2024-08-31 15:39:11.913000+03:00	53	male	high	None	2024-08-31 15:39:11.913000+03:00	None	None	8625	None	None	None	None	None	small
15810	None	None	None	None	1	2024-08-31 15:39:11.913000+03:00	2024-08-31 15:39:11.913000+03:00	22	female	low	None	2024-08-31 15:39:11.913000+03:00	None	None	87797	None	None	None	None	None	small
15556	None	None	None	None	1	2024-08-31 15:39:11.913000+03:00	2024-08-31 15:39:11.913000+03:00	29	female	high	None	2024-08-31 15:39:11.913000+03:00	None	None	29257	None	None	None	None	None	corporate
*/


CREATE TABLE "DocumentMessages" (
	id SERIAL NOT NULL,
	caption TEXT,
	"mimeType" VARCHAR(255),
	sha256 VARCHAR(255),
	filename VARCHAR(255),
	"documentId" VARCHAR(255),
	url VARCHAR(255),
	"messageId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "DocumentMessages_pkey" PRIMARY KEY (id)
)

/*
3 rows from DocumentMessages table:
id	caption	mimeType	sha256	filename	documentId	url	messageId	createdAt	updatedAt

*/


CREATE TABLE "ImageHeaders" (
	id SERIAL NOT NULL,
	"interactiveButtonId" INTEGER,
	"interactiveTemplateId" INTEGER,
	link VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ImageHeaders_pkey" PRIMARY KEY (id),
	CONSTRAINT "ImageHeaders_interactiveButtonId_fkey" FOREIGN KEY("interactiveButtonId") REFERENCES "InteractiveButtons" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "ImageHeaders_interactiveTemplateId_fkey" FOREIGN KEY("interactiveTemplateId") REFERENCES "InteractiveTemplates" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ImageHeaders table:
id	interactiveButtonId	interactiveTemplateId	link	createdAt	updatedAt

*/


CREATE TABLE "ImageMessages" (
	id SERIAL NOT NULL,
	caption TEXT,
	"mimeType" VARCHAR(255),
	sha256 VARCHAR(255),
	"imageId" VARCHAR(255),
	"AWbucketId" VARCHAR(255),
	"AWfileId" VARCHAR(255),
	url VARCHAR(255),
	"messageId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ImageMessages_pkey" PRIMARY KEY (id),
	CONSTRAINT "ImageMessages_messageId_fkey" FOREIGN KEY("messageId") REFERENCES "Messages" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "ImageMessages_AWfileId_key" UNIQUE ("AWfileId")
)

/*
3 rows from ImageMessages table:
id	caption	mimeType	sha256	imageId	AWbucketId	AWfileId	url	messageId	createdAt	updatedAt

*/


CREATE TABLE "Images" (
	id SERIAL NOT NULL,
	url VARCHAR(255),
	"productId" INTEGER,
	"storeId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Images_pkey" PRIMARY KEY (id),
	CONSTRAINT "Images_productId_fkey" FOREIGN KEY("productId") REFERENCES "Products" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Images_storeId_fkey" FOREIGN KEY("storeId") REFERENCES "Stores" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Images table:
id	url	productId	storeId	createdAt	updatedAt
1	https://cloud.appwrite.io/v1/storage/buckets/657c8507c305096354f8/files/65e0c3bad4f8f7d8554e/downloa	22629	10	2024-08-31 15:39:12.873000+03:00	2024-08-31 15:39:12.873000+03:00
2	https://cloud.appwrite.io/v1/storage/buckets/657c8507c305096354f8/files/65e0c3bad4f8f7d8554e/downloa	21238	10	2024-08-31 15:39:12.873000+03:00	2024-08-31 15:39:12.873000+03:00
3	https://cloud.appwrite.io/v1/storage/buckets/657c8507c305096354f8/files/65e0c3bad4f8f7d8554e/downloa	22181	10	2024-08-31 15:39:12.873000+03:00	2024-08-31 15:39:12.873000+03:00
*/


CREATE TABLE "InteractiveButtons" (
	id SERIAL NOT NULL,
	"interactiveMesId" INTEGER,
	"productId" INTEGER,
	header VARCHAR(255),
	body TEXT,
	footer VARCHAR(255),
	action VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "InteractiveButtons_pkey" PRIMARY KEY (id),
	CONSTRAINT "InteractiveButtons_interactiveMesId_fkey" FOREIGN KEY("interactiveMesId") REFERENCES "InteractiveMessages" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "InteractiveButtons_productId_fkey" FOREIGN KEY("productId") REFERENCES "Products" (id)
)

/*
3 rows from InteractiveButtons table:
id	interactiveMesId	productId	header	body	footer	action	createdAt	updatedAt

*/


CREATE TABLE "InteractiveLists" (
	id SERIAL NOT NULL,
	"interactiveMesId" INTEGER,
	header VARCHAR(255),
	body TEXT,
	footer VARCHAR(255),
	button VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "InteractiveLists_pkey" PRIMARY KEY (id),
	CONSTRAINT "InteractiveLists_interactiveMesId_fkey" FOREIGN KEY("interactiveMesId") REFERENCES "InteractiveMessages" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from InteractiveLists table:
id	interactiveMesId	header	body	footer	button	createdAt	updatedAt

*/


CREATE TABLE "InteractiveMessages" (
	id SERIAL NOT NULL,
	"messageId" INTEGER,
	type VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "InteractiveMessages_pkey" PRIMARY KEY (id),
	CONSTRAINT "InteractiveMessages_messageId_fkey" FOREIGN KEY("messageId") REFERENCES "Messages" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from InteractiveMessages table:
id	messageId	type	createdAt	updatedAt

*/


CREATE TABLE "InteractiveTemplates" (
	id SERIAL NOT NULL,
	"interactiveMesId" INTEGER,
	"productId" INTEGER,
	header VARCHAR(255),
	body TEXT,
	footer VARCHAR(255),
	action VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "InteractiveTemplates_pkey" PRIMARY KEY (id),
	CONSTRAINT "InteractiveTemplates_interactiveMesId_fkey" FOREIGN KEY("interactiveMesId") REFERENCES "InteractiveMessages" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "InteractiveTemplates_productId_fkey" FOREIGN KEY("productId") REFERENCES "Products" (id)
)

/*
3 rows from InteractiveTemplates table:
id	interactiveMesId	productId	header	body	footer	action	createdAt	updatedAt

*/


CREATE TABLE "ListRepliedActions" (
	id SERIAL NOT NULL,
	"listRowButtonId" INTEGER,
	"messageId" INTEGER,
	"buttonId" VARCHAR(255),
	title VARCHAR(255),
	description VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ListRepliedActions_pkey" PRIMARY KEY (id),
	CONSTRAINT "ListRepliedActions_listRowButtonId_fkey" FOREIGN KEY("listRowButtonId") REFERENCES "ListRowButtons" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "ListRepliedActions_messageId_fkey" FOREIGN KEY("messageId") REFERENCES "Messages" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ListRepliedActions table:
id	listRowButtonId	messageId	buttonId	title	description	createdAt	updatedAt

*/


CREATE TABLE "ListRowButtons" (
	id SERIAL NOT NULL,
	"listSectionId" INTEGER,
	"productId" INTEGER,
	"buttonId" VARCHAR(255),
	title VARCHAR(255),
	description VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ListRowButtons_pkey" PRIMARY KEY (id),
	CONSTRAINT "ListRowButtons_listSectionId_fkey" FOREIGN KEY("listSectionId") REFERENCES "ListSections" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "ListRowButtons_productId_fkey" FOREIGN KEY("productId") REFERENCES "Products" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ListRowButtons table:
id	listSectionId	productId	buttonId	title	description	createdAt	updatedAt

*/


CREATE TABLE "ListSections" (
	id SERIAL NOT NULL,
	title VARCHAR(255),
	"interactiveListId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "ListSections_pkey" PRIMARY KEY (id),
	CONSTRAINT "ListSections_interactiveListId_fkey" FOREIGN KEY("interactiveListId") REFERENCES "InteractiveLists" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from ListSections table:
id	title	interactiveListId	createdAt	updatedAt

*/


CREATE TABLE "LocationMessages" (
	id SERIAL NOT NULL,
	address VARCHAR(255),
	latitude VARCHAR(255),
	longitude VARCHAR(255),
	name VARCHAR(255),
	url VARCHAR(255),
	"messageId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "LocationMessages_pkey" PRIMARY KEY (id)
)

/*
3 rows from LocationMessages table:
id	address	latitude	longitude	name	url	messageId	createdAt	updatedAt

*/


CREATE TABLE "Loyalties" (
	id SERIAL NOT NULL,
	"customerId" INTEGER,
	"pointsBalance" INTEGER,
	"lastUpdated" TIMESTAMP WITH TIME ZONE,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Loyalties_pkey" PRIMARY KEY (id)
)

/*
3 rows from Loyalties table:
id	customerId	pointsBalance	lastUpdated	createdAt	updatedAt

*/


CREATE TABLE "MarketingResponses" (
	id SERIAL NOT NULL,
	"customerId" INTEGER,
	"adTemplateId" INTEGER,
	"messageId" INTEGER,
	"productId" INTEGER,
	score INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "MarketingResponses_pkey" PRIMARY KEY (id),
	CONSTRAINT "MarketingResponses_adTemplateId_fkey" FOREIGN KEY("adTemplateId") REFERENCES "AdTemplates" (id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT "MarketingResponses_customerId_fkey" FOREIGN KEY("customerId") REFERENCES "Customers" (id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT "MarketingResponses_messageId_fkey" FOREIGN KEY("messageId") REFERENCES "Messages" (id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT "MarketingResponses_productId_fkey" FOREIGN KEY("productId") REFERENCES "Products" (id) ON DELETE SET NULL ON UPDATE CASCADE
)

/*
3 rows from MarketingResponses table:
id	customerId	adTemplateId	messageId	productId	score	createdAt	updatedAt

*/


CREATE TABLE "Merchants" (
	id SERIAL NOT NULL,
	business_name VARCHAR(255),
	username VARCHAR(255),
	email VARCHAR(255),
	password VARCHAR(255),
	whatsapp_phone_number VARCHAR(255),
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	CONSTRAINT "Merchants_pkey" PRIMARY KEY (id),
	CONSTRAINT "Merchants_email_key" UNIQUE (email),
	CONSTRAINT "Merchants_whatsapp_phone_number_key" UNIQUE (whatsapp_phone_number)
)

/*
3 rows from Merchants table:
id	business_name	username	email	password	whatsapp_phone_number	createdAt	updatedAt

In [17]:
from langchain.chains import create_sql_query_chain
chain = create_sql_query_chain(llm, db)

# create a query
response = chain.invoke({"question":   'How many categories do we have in my fake store' + ' Remember to add public."<table name>" for postgreql including the quotes on table name'})
response

'SELECT COUNT("name") FROM Categories WHERE "storeId"=10;'

Alternative to create an sql agent

In [18]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [19]:
cleaned_query = response.strip('```sql\n').strip('\n```')
cleaned_query

'SELECT COUNT("name") FROM Categories WHERE "storeId"=10;'

In [ ]:
db.run(cleaned_query)

In [13]:
from langchain.agents import create_sql_agent 
from langchain.agents import AgentExecutor 
from langchain.agents.agent_types import AgentType

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [14]:
from langchain.chains import create_sql_query_chain
chain = create_sql_query_chain(llm, db)

def execute_query(question):
    try:
        # Geerate SQL query from question
        response = chain.invoke({"question":   question + ' Remember to add public."<table name>" for postgreql including the quotes on table name'})
        print(response)
        print("########################")
        # clean the query
        cleaned_query = response.strip('```sql\n').strip('\n```')
        print(cleaned_query)
        print("########################")
        result = db.run(cleaned_query)
        print("########################")
        print(result)
    except Exception as e:
        print(f"An error occured", {e})
        return False

In [15]:
question = "List me the number of products sold for each brand in the store called My Trial Store"

execute_query(question)

```sql
SELECT
  b.name AS "Brand Name",
  COUNT(DISTINCT p.id) AS "Number of Products Sold"
FROM "Brands" AS b
JOIN "Products" AS p
  ON b.id = p.brandId
JOIN "Sales" AS s
  ON p.id = s.productId
JOIN "Stores" AS st
  ON s.storeId = st.id
WHERE
  st.name = 'My Trial Store'
GROUP BY
  b.name;
```
########################
SELECT
  b.name AS "Brand Name",
  COUNT(DISTINCT p.id) AS "Number of Products Sold"
FROM "Brands" AS b
JOIN "Products" AS p
  ON b.id = p.brandId
JOIN "Sales" AS s
  ON p.id = s.productId
JOIN "Stores" AS st
  ON s.storeId = st.id
WHERE
  st.name = 'My Trial Store'
GROUP BY
  b.name;
########################
An error occured {ProgrammingError('(psycopg2.errors.UndefinedColumn) column p.brandid does not exist\nLINE 6:   ON b.id = p.brandId\n                    ^\nHINT:  Perhaps you meant to reference the column "p.brandId".\n')}

False

In [16]:
agent_executor.run(question)

> Entering new SQL Agent Executor chain...

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8216\1032557354.py:1: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use invoke instead.
  agent_executor.run(question)

Action: sql_db_list_tables
Action Input: AdTemplates, Ads, Billboards, BotVectorStores, Brands, BulkTemplateTasks, ButtonRepliedActions, ButtonReplyActions, Categories, Chats, Conversations, Coupons, Customers, DocumentMessages, ImageHeaders, ImageMessages, Images, InteractiveButtons, InteractiveLists, InteractiveMessages, InteractiveTemplates, ListRepliedActions, ListRowButtons, ListSections, LocationMessages, Loyalties, MarketingResponses, Merchants, Messages, MpesaSettings, OrderItems, Orders, ProductCombinations, ProductImages, ProductVariants, ProductVariationOptions, ProductVariations, Products, PromotionCustomers, PromotionProducts, Promotions, Purchases, Redemptions, Rewards, SaleDetails, Sales, ScheduleTasks, SequelizeMeta, Settings, Stores, StripeSettings, TemplateRepliedActions, TemplateReplyActions, TextHeaders, TextMessages, VideoMessages, langchain_pg_collection, langchain_pg_embedding, migration, piccolo_user, sessionsThe Products table seems the most relevant.  I should query its schema.
Action: sql_db_schema
Action Input: Products
CREATE TABLE "Products" (
	id SERIAL NOT NULL,
	name VARCHAR(255),
	price NUMERIC,
	"isFeatured" BOOLEAN DEFAULT false NOT NULL,
	"isArchived" BOOLEAN DEFAULT false NOT NULL,
	"categoryId" INTEGER,
	"storeId" INTEGER,
	"createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	"updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
	description TEXT,
	"stockCode" VARCHAR(255),
	"brandId" INTEGER,
	CONSTRAINT "Products_pkey" PRIMARY KEY (id),
	CONSTRAINT "Products_brandId_fkey" FOREIGN KEY("brandId") REFERENCES "Brands" (id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT "Products_categoryId_fkey" FOREIGN KEY("categoryId") REFERENCES "Categories" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT "Products_storeId_fkey" FOREIGN KEY("storeId") REFERENCES "Stores" (id) ON DELETE CASCADE ON UPDATE CASCADE
)

/*
3 rows from Products table:
id	name	price	isFeatured	isArchived	categoryId	storeId	createdAt	updatedAt	description	stockCode	brandId
22629	Ganma Superheroes Ordinary Life Case For Samsung Galaxy Note 5 Hard Case Cover	13.99	True	True	69	10	2024-08-31 15:39:11.515000+03:00	2024-08-31 15:39:11.515000+03:00	New unique design, great gift.High quality plastic material.Clips over the back of the device to pro	22629	112
21238	Eye Buy Express Prescription Glasses Mens Womens Burgundy Crystal Clear Yellow Rounded Rectangular R	19.22	True	True	83	10	2024-08-31 15:39:11.515000+03:00	2024-08-31 15:39:11.515000+03:00	Rounded rectangular cat-eye reading glasses. These frames feature a deep burgundy color on the face 	21238	276
22181	MightySkins Skin Decal Wrap Compatible with Nintendo Sticker Protective Cover 100's of Color Options	14.99	True	True	70	10	2024-08-31 15:39:11.515000+03:00	2024-08-31 15:39:11.515000+03:00	Each Nintendo 2DS kit is printed with super-high resolution graphics with a ultra finish. All skins 	22181	212
*/I should query the Products table for the brand and then count the number of rows in the results.
Action: sql_db_query_checker
Action Input: SELECT DISTINCT(brandId) FROM ProductsSELECT DISTINCT(brandId) FROM ProductsAction: sql_db_query
Action Input: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY brandId ORDER BY COUNT(*) DESC LIMIT 10Error: (psycopg2.errors.UndefinedTable) relation "products" does not exist
LINE 1: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY br...
                                                ^

[SQL: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY brandId ORDER BY COUNT(*) DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)Action: sql_db_query_checker
Action Input: SELECT DISTINCT(brandId) FROM ProductsSELECT DISTINCT(brandId) FROM ProductsAction: sql_db_query
Action Input: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY brandId ORDER BY COUNT(*) DESC LIMIT 10Error: (psycopg2.errors.UndefinedTable) relation "products" does not exist
LINE 1: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY br...
                                                ^

[SQL: SELECT DISTINCT(brandId), COUNT(*) FROM Products GROUP BY brandId ORDER BY COUNT(*) DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)Final Answer: I don't know

> Finished chain.

"I don't know"